// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import 'ionic.globals';


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #e60000,
  secondary:  #32db64,
  danger:     #e60000,
  light:      #c3c3c3,
  dark:       #858585,
  favorite:   #69bb7b,
  twitter:    #53aceb,
  github:     #000,
  instagram:  #235d8d,
  complete:   #9c2aa0,
  success: #37a337,
  vodacom-purple: #9c2aa0,
  vodacom-orange: #eb9700,
  vodacom-dark-grey: #808080,
  vodacom-grey: #c5c5c5,
  vodacom-light-grey: #e8e8e8,
  vodacom-very-light-grey: #f6f6f6,
  vodacom-green: #69bb7b,
  vodacom-red-violet: #9c2aa0,
  vodacom-aubergine: #5e2750,
  vodacom-aqua-blue: #00b0ca,
  vodacom-turquoise: #007c92,
  vodacom-lemon-yellow: #fecb00,
  vodacom-fresh-orange: #eb9700,
  vodacom-red: #e60000,
  vodacom-dark-red: #64050a,
  vodacom-mid-grey: #666
);

$red: #e60000;
$orange: #eb9700;
$purple: #9c2aa0;
$green: #69bb7b;
$black: #000;
$white: #fff;
$ionic-grey: #c8c7cc;
$grey: #c5c5c5;
$light-grey: #e8e8e8;
$very-light-grey: #f6f6f6;
$dark-grey: #808080;
$border-grey: #dedede;
$content-grey: #d7d7d7;
$disable-btn-grey: rgba(90, 90, 90, .5);

$opaque-black: rgba($black, .5);
$dark-opaque-black: rgba($black, .8);

$toolbar-background: #fff;
$toolbar-ios-background: #fff;
$toolbar-md-background: #fff;

$toolbar--background-color: #fff;

// Overrides
$label-md-text-color-focused: $purple;
$text-input-md-show-valid-highlight: false;
$text-input-md-highlight-color: $purple;

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import 'ionic.theme.default';


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: '../assets/fonts';
@import 'ionic.ionicons';
